@model Pro1.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimateDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimateDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatePrice)
        </dd>
        <dt class="col-sm-2">Parts</dt>
        <dd class="col-sm-10">
            @{
                var parts = ViewBag.Parts as List<Pro1.Models.Parts>;
            }

            @if (parts == null || !parts.Any()) 
            {
                <p>No parts added to this ticket.</p> <!-- Display a message if no parts -->
            }
            else
            {
                <table class="table"> <!-- Render the parts as a table -->
                    <thead>
                        <tr>
                            <th>Part Name</th>
                            <th>Unit Price</th>
                            <th>Amount</th>
                            <th>Overall Cost</th> <!-- Display the calculated overall cost -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var part in parts)
                        {
                            var overallCost = part.unitPrice * part.amount; // Calculate the overall cost
                            <tr>
                                <td>@part.Name</td>
                                <td>@part.unitPrice</td>
                                <td>@part.amount</td>
                                <td>@overallCost</td> <!-- Display the calculated overall cost -->
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="MyTickets">Back to List</a>
</div>
